<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/css/left_container.css">
</head>

<div class="left-container">
  <div class="advertisement">
    <img src="../images/left-bn.gif" alt="advertisement-img" width="100%" height="100%">
  </div>
  <div class="traning-wear">
    <img src="../images/left-wear.gif" alt="left-wear-img" width="100%">
    <ul>
      <li>
        <img src="../images/left-nemu-2xu.gif" alt="left-nemu-2xu-img">
        <div class="left-menu-text">2XU<span>ツータイムズユー</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-adidas.gif" alt="left-nemu-adidas-img">
        <div class="left-menu-text">adidas TECHFIT<span>アディダステックフィット</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-c3fit.gif" alt="left-nemu-c3fit-img">
        <div class="left-menu-text">C3fit<span>シースリーフィット</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-cwx.gif" alt="left-nemu-cwx-img">
        <div class="left-menu-text">CW-X<span>シーダブリューエックス</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-nike.gif" alt="left-nemu-nike-img">
        <div class="left-menu-text">NIKE PRO<span>ナイキプロ</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-reebok.gif" alt="left-nemu-reebok-img">
        <div class="left-menu-text">Reebok TAIKIN<span>リーボック タイカン</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-skins.gif" alt="left-nemu-skins-img">
        <div class="left-menu-text">Skins<span>スキンズ</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-venex.gif" alt="left-nemu-venex-img">
        <div class="left-menu-text">VENEX<span>ベネックス</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-under.gif" alt="left-nemu-under-img">
        <div class="left-menu-text">UNDER ARMOUR<span>アンダーアーマー</span></div>
      </li>
      <li>
        <img src="../images/left-nemu-mizuno.gif" alt="left-nemu-mizuno-img">
        <div class="left-menu-text">mizuno BIO GEAR<span>ミズノ バイオギア</span></div>
      </li>
    </ul>
  </div>
  <div class="traning-wear-guide">
    <img src="../images/left-wear-guide.gif" alt="left-wear-guide-img", width="100%">
    <ul>
      <li>
        <img src="../images/icon01.gif" alt="icon01-img">
        <span>コンプレッションインナーとは？</span>
      </li>
      <li>
        <img src="../images/icon01.gif" alt="icon01-img">
        <span>高機能インナーとは？</span>
      </li>
      <li>
        <img src="../images/icon01.gif" alt="icon01-img">
        <span>リカバリーウェアとは？</span>
      </li>
      <li>
        <img src="../images/icon01.gif" alt="icon01-img">
        <span>トレーニングウェアの選び方</span>
      </li>
      <li>
        <img src="../images/icon01.gif" alt="icon01-img">
        <span>フィットネスウェアの選び方</span>
      </li>
    </ul>
  </div>
</div>